$color-primary:#232B4D;
$color-secondary:#705C2B;
$color-tertiary:#554216;
$color-quartet:white;
$color-quartet-opacity:rgba(20, 28, 58, 0.8);
$color-quintiary: #937E4C;
$color-sextiary:#3A4264;
$color-septiary:#141C3A;